.details {
    background-image: url("https://img.freepik.com/vecteurs-libre/contexte-technologique-futuriste_52683-35442.jpg?t=st=1734780188~exp=1734783788~hmac=ab34498ab70dd60097f6b1702cb6f67944bea5146e336ff89df71ae9c0c34e0a&w=740");
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    text-align: center;
    color: white;
    margin: 0;
    width: 100vw; 
    height: 100vh; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    
     
  }
  .details h1 {
    font-size: 2.5rem;
    color: #007BFF;
    margin-bottom: 10px;
  }
  .details h2 {
    font-size: 2rem;
    color: #0056B3;
    
  }
  
  .details p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 300px;
    border-radius: 8px;
  }
 
  .list li {
    margin-bottom: 10px;
    padding: 10px 15px;
    text-align: center;
    padding: 10px; 
    border-bottom: 1px solid #ccc; 
    font-size: 1rem; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   
    
  }
  .list li::before{
    content:  "✔";
    color: #3498db;
    font-size: 20px;

  }