.home{
    font-family: Arial, Helvetica, sans-serif;
   background-image: url("https://img.freepik.com/vecteurs-libre/fond-connexion-reseau-style-degrade_23-2148879891.jpg?t=st=1734717991~exp=1734721591~hmac=159add1e67d676c5b87a1893790c84f1c8239849693312bca105fdc5ff9a2785&w=740");
    background-size: cover;
    background-position:center;
    text-align: center;
   
}
.home header{
    
    padding: 100px 20px ;
}
.home header h1{
    font-size: 1.5rem;
    color:red;
    
}
.home header p{
    font-size: 1.2rem;
    color: white;
}
.learn-more:hover{
    background-color: rgba(0, 86, 179, 0.8);
}
.learn-more {
    background-color: rgba(0, 128, 225, 0.8);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}